body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vb;
    background: #000000;
    color: azure;
}



.leftDiv{
    background-color: #efefef;
                color: #000;
                height: 100%;
                width: 50%;
                float: left;
                margin-left: 5%;
                
}

.box{
    justify-content: center;
    position: relative;
    height: 400px;
    width:30%;
    display: flex;
    margin-right: 9%;
    margin-top: 9%;
    align-items: center;
    background: rgba(112, 109, 109, 0.2);
    overflow: hidden;
    border-radius: 20px;
    float: right;
}

.box::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 160%;
    background: linear-gradient(#757f9a,#d7dde8);
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background: #000000;
    border-radius: 10px;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box h3{
    color: darkolivegreen;
    font-size: 30px;
    z-index: 10;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    color:darkolivegreen;
    text-decoration: none;
}

a:hover, a:active {
    background-color: green;
    color: yellowgreen;
  }